<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="support" params="">
    <link name="support_link">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <mass value="1" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
    </link>
    <link name="table_desk">
    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="1" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
    <visual>
        <origin xyz="0 0 -0.44" rpy="0 0 0" />
        <geometry>
            <box size="1.384 0.854 0.88" />
        </geometry>
        <material name="brown">
            <color rgba="0.43 0.34 0.24 0.9" />
        </material>
    </visual>
    <collision>
        <origin xyz="0 0 -0.44" rpy="0 0 0" />
        <geometry>
            <box size="1.384 0.854 0.88" />
        </geometry>
    </collision>
    </link>

    <joint name="table_main_link" type="fixed">
        <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.88" />
        <parent link="support_link" />
        <child link="table_desk" />
    </joint>
    <link name="shelf_top_desk">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <mass value="1" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
        <visual>
            <origin xyz="-0.01 0 -0.0125" rpy="0 0 0" />
            <geometry>
                <box size="0.4 1.2 0.025" />
            </geometry>
            <material name="brown">
            <color rgba="0.43 0.34 0.24 0.9" />
            </material>
        </visual>
        <collision>
        <origin xyz="-0.01 0 -0.0125" rpy="0 0 0" />
            <geometry>
                <box size="0.4 1.2 0.025" />
            </geometry>
        </collision>
    </link>
    <link name="shelf_box">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <mass value="1" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.8275" rpy="0 0 0" />
            <geometry>
                <box size="0.38 1.2 0.945" />
            </geometry>
            <material name="brown">
            <color rgba="0.43 0.34 0.24 0.9" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.8275" rpy="0 0 0" />
            <geometry>
                <box size="0.38 1.2 0.945" />
            </geometry>
        </collision>
    </link>
    <link name="shelf_wall_left">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <mass value="1" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
        <visual>
            <origin xyz="-0.0075 -0.59 -0.19" rpy="0 0 0" />
            <geometry>
                <box size="0.365 0.02 0.33" />
            </geometry>
            <material name="brown">
            <color rgba="0.43 0.34 0.24 0.9" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.0075 -0.59 -0.19" rpy="0 0 0" />
            <geometry>
                <box size="0.365 0.02 0.33" />
            </geometry>
        </collision>
    </link>
    <link name="shelf_wall_center">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <mass value="1" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
        <visual>
            <origin xyz="-0.0075 0.0 -0.19" rpy="0 0 0" />
            <geometry>
                <box size="0.365 0.02 0.33" />
            </geometry>
            <material name="brown">
            <color rgba="0.43 0.34 0.24 0.9" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.0075 0.0 -0.19" rpy="0 0 0" />
            <geometry>
                <box size="0.365 0.02 0.33" />
            </geometry>
        </collision>
    </link>
    <link name="shelf_wall_right">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <mass value="1" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
        <visual>
            <origin xyz="-0.0075 0.59 -0.19" rpy="0 0 0" />
            <geometry>
                <box size="0.365 0.02 0.33" />
            </geometry>
            <material name="brown">
            <color rgba="0.43 0.34 0.24 0.9" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.0075 0.59 -0.19" rpy="0 0 0" />
            <geometry>
                <box size="0.365 0.02 0.33" />
            </geometry>
        </collision>
    </link>
    <link name="shelf_wall_back">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <mass value="1" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
        <visual>
            <origin xyz="0.1825 0 -0.19" rpy="0 0 0" />
            <geometry>
                <box size="0.015 1.2 0.33" />
            </geometry>
            <material name="brown">
            <color rgba="0.43 0.34 0.24 0.9" />
            </material>
        </visual>
        <collision>
            <origin xyz="0.1825 0 -0.19" rpy="0 0 0" />
            <geometry>
                <box size="0.015 1.2 0.33" />
            </geometry>
        </collision>
    </link>

    <joint name="shelf_main_link" type="fixed">
        <origin rpy="0.0 0.0 -1.5707963267948966" xyz="0.0 -0.80 1.28" />
        <parent link="support_link" />
        <child link="shelf_top_desk" />
    </joint>
    <joint name="shelf_box_connect" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="shelf_top_desk" />
        <child link="shelf_box" />
    </joint>
    <joint name="shelf_wall_L_connect" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="shelf_top_desk" />
        <child link="shelf_wall_left" />
    </joint>
    <joint name="shelf_wall_C_connect" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="shelf_top_desk" />
        <child link="shelf_wall_center" />
    </joint>
    <joint name="shelf_wall_R_connect" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="shelf_top_desk" />
        <child link="shelf_wall_right" />
    </joint>
    <joint name="shelf_wall_B_connect" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="shelf_top_desk" />
        <child link="shelf_wall_back" />
    </joint>
    <link name="robot_attachment_link" />
    <joint name="support_joint" type="fixed">
      <origin xyz="0.422 0.0 .92" rpy="0 0 ${pi}" />
      <parent link="support_link" />
      <child link="robot_attachment_link" />
    </joint>
  </xacro:macro>
</robot>
