<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="obstacle">
  <xacro:include filename="$(find franka_description)/robots/common/utils.xacro" />


  <material name="blue">
    <color rgba="0.1 0.1 0.8 0.5"/>
  </material>

  <link name="obstacle">
    <xacro:collision_capsule xyz="0 0 0" direction="x" radius="0.1" length="0.1" />
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="10.0"/>
      <inertia ixx="1.67" ixy="0" ixz="0" iyy="1.67" iyz="0" izz="1.67"/>
    </inertial>
  </link>


</robot>
