<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="arm_id" default="fer" />
  <xacro:include filename="$(find franka_description)/robots/$(arg arm_id)/$(arg arm_id).urdf.xacro">
    <!-- <xacro:arg name="with_sc" value="True" /> -->
  </xacro:include>
  <xacro:include filename="$(find agimus_demo_06_regrasp)/urdf/support.urdf.xacro"/>

  <xacro:support/>

  <joint name="attach_robot_joint" type="fixed">
    <parent link="robot_attachment_link" />
    <child link="base" />
</joint>
</robot>
